---
import { t } from "astro-i18n";

import { Image } from "astro:assets";
import Button from "../Button.astro";
import PopUp from "../PopUp.astro";

const { title, subtitle, description, image, alt = "", loading = "", bgColor, popUpTitle, subPopUpTitle, detailsOne, detailsTwo, detailsThree, btnText } = Astro.props;

const popUpId = `popup-${popUpTitle}`;
---

<span>
  <PopUp id={popUpId} show={false} aria-live="polite">
    <div class="flex flex-col gap-default overflow-y-auto max-h-[50dvh]">
      <h3 class="text-header-3 leading-height-header-3 font-header">{popUpTitle}</h3>
      <p class="text-paragraph leading-height-paragraph font-bold font-body-text">{subPopUpTitle}</p>
      <p class="text-paragraph/8">
        {detailsOne}
      </p>
      <p class="text-paragraph font-body-text text-neutral-1 leading-height-paragraph">
        {detailsTwo}
      </p>
      <p class="text-paragraph font-body-text text-neutral-1 leading-height-paragraph">
        {detailsThree}
      </p>
    </div>
  </PopUp>

  <article class={`${bgColor} w-[300px] min-h-[460px] md:min-h-[510px] rounded-default gap-default shadow-pink flex flex-col`}>
    <div class="p-default grid gap-default flex-grow">
      <h2 class="font-header text-header-2 leading-height-header-2">{title}</h2>
      <h3 class="text-header-3 font-body-text leading-height-header-3">
        {subtitle}
      </h3>
      <p class="text-paragraph font-body-text leading-height-paragraph">
        {description}
      </p>
    </div>
    <div class={`relative h-[200px] w-full bg-cover bg-center rounded-default shrink-0`} style={{ backgroundImage: `url("../public/img/${image}")` }} aria-label={alt}>
      <span class="absolute bottom-3 left-3 z-10">
        <Button ariaLabel={t("Læs mere")} type="button" data-open-popup={popUpId} element={false}>{btnText}</Button>
      </span>
    </div>
  </article>
</span>
